/.bundle/
/.yardoc
/*.gem
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# gemfile locks for CI
/gemfiles/*.gemfile.lock

.byebug_history

# iCloud Drive
.nosync
