/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.byebug_history

# rspec failure tracking
.rspec_status

# IDEs
/.idea/

# iCloud Drive
.nosync

# Packaging Artifacts
*.gem

# gemfile locks for CI
/gemfiles/*.lock
Appraisal.*.gemfile.lock
